<button class='btn btn-outline-primary' routerLink='/new-champs'>Add Champs</button>
<button class='btn btn-outline-primary' routerLink='/list-champs'>List Champs</button>

<div class='container'>
<h2>Lol Champions</h2>
<router-outlet></router-outlet>
</div>




