{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Account</h1>
</div>

<div class="jumbotron">
    <div class="row">
        <p><b>Name: </b>{{ user.name }}</p>
    </div>
    <div class="row">
        <p><b>Title: </b>{{ user.title }}</p>
    </div>
    <div class="row">
        <p><b>Team: </b>{{ user.team }}</p>
    </div>
</div>

{% endblock %}
