<!DOCTYPE html>
<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

</head>
<body>

<div class="container">
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
    <div class="container">
      <img style="width:30px; margin-right: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Citi.svg" alt="citi">  
      <a class="navbar-brand mr-4" href="/">Meetspresso</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('schedule') }}">Schedule</a>
          {% endif %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
</div>
 
<div class="container" style="padding-top: 50px">

    <!--- flash messages -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-dismissable alert-warning alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}


    {% if current_user.is_authenticated %}
    <div class="lead mark">
        logged in as {{ current_user.name }}     
    </div>
    {% endif %}


    <!--- the body will come from a template that inherits from this one -->
    {% block body %}{% endblock %}

</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>



</body>
</html>
