{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Edit Twit</h1>
</div>

<div class="jumbotron">

<div >
	<form class="form-horizontal" method="post" action="/edit_twit">
    {{ form.csrf_token }}
    <div class='form-group'>
        <div class='col-md-6'>
            {% if form.twit.errors %}
                <ul class='errors'> 
                    {% for error in form.twit.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.twit(class='form-control') }}
        </div>
     </div>
	<div>
		{{ form.twit_id }}
	</div>
    <div class='form-group'>
        <div class='col-md-6'>
            {{ form.submit(class='btn btn-primary btn-block') }}
        </div>
    </div>
    </form>
</div>

</div>


{% endblock %}
