{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Forgot Password</h1>
</div>

<div class="jumbotron">

        <form class='form-horizontal' method="post">

        {{ form.csrf_token }}

        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.email.errors %}
                    <ul class='errors'> 
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.email(class='form-control',placeholder='email') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {{ form.submit(class='btn btn-primary btn-block') }}
            </div>
        </div>
        </form>

</div >

{% endblock %}
