{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Login</h1>
</div>

<div class="jumbotron">

        <form class='form-horizontal' method="post">

        {{ form.csrf_token }}

        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.soeid.errors %}
                    <ul class='errors'> 
                        {% for error in form.soeid.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.soeid(class='form-control',placeholder='SOEID') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.password.errors %}
                    <ul class='errors'> 
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.password(class='form-control',placeholder='password') }}
                <small class="text-muted ml-2">
                    <p>Do not use real <b>password<b></p>
                </small>

            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {{ form.submit(class='btn btn-primary btn-block') }}
            </div>
        </div>

        </form>

</div >


{% endblock %}
