{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1>Main Menu</h1>
</div>

<div class="jumbotron">
 <div class="row">
{% for option in options %}
 	<div class="col-sm"><h3><a href='/appointment/{{ option }}'> {{ option.capitalize() }} </a></h3></div>
{% endfor %}
 <div class="row">&nbsp;</div> 
 </div>
</div>

{% endblock %}
