{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Random Appointment</h1>
</div>

<div class="jumbotron">

    <form class='form-horizontal' method="post">

    {{ form.csrf_token }}

    <div class='form-group'>
        <div class='col-md-6'>
        	<h3>Date</h3>
            {% if form.date.errors %}
                <ul class='errors'> 
                    {% for error in form.date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.date(class='form-control',placeholder='2020-08-06') }}
        </div>
    </div>
    <div class='form-group'>
        <div class='col-md-6'>
        	<h3>Start Time</h3>
            {% if form.startTime.errors %}
                <ul class='errors'> 
                    {% for error in form.startTime.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{
            form.startTime(class='form-control',placeholder='00:00') }}
        </div>
    </div>
    <div class='form-group'>
        <div class='col-md-6'>
        	<h3>End Time</h3>
            {% if form.endTime.errors %}
                <ul class='errors'> 
                    {% for error in form.endTime.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{
            form.endTime(class='form-control',placeholder='00:10') 
        }}
        </div>
    </div>
    <div class='form-group'>
        <div class='col-md-6'>
        	<h3>Location</h3>
            {% if form.location.errors %}
                <ul class='errors'> 
                    {% for error in form.location.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{
            form.location(class='form-control',placeholder='Zoom, VMR or other details') }}
        </div>
    </div>
    <div class='form-group'>
    	<h3>My upcoming calendar events</h3>
    	<div class="row">
		  <div class="col-sm-3"><b>Event</b></div>
		  <div class="col-sm-3"><b>Date</b></div>
		  <div class="col-sm-3"><b>Start time</b></div>
		  <div class="col-sm-3"><b>End time</b></div>
		 </div>
		 <div class="row">&nbsp;</div> 
		{% for event in events %}
		 <div class="row">
		  <div class="col-sm-3">{{ event.summary }}</div>
		  <div class="col-sm-3">{{ event.start_date }}</div>
		  <div class="col-sm-3">{{ event.start_time }}</div>
		  <div class="col-sm-3">{{ event.end_time }}</div>
		 </div>
		 <div class="row">&nbsp;</div> 
		{% endfor %}
    </div>
    <div class='form-group'>
        <div class='col-md-6'>
            {{ form.submit(class='btn btn-primary btn-block') }}
        </div>
    </div>
    </form>
</div >

{% endblock %}

