{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Random Facts</h1>
</div>

<div class="jumbotron">
        <div class=row>
            <p><b>Fact:</b> {{ fact }}</p>
        </div>

        <div class=row>
            <p><b>Source:</b> <a href={{ sourceurl }}>{{ source }}</a></p>
        </div>

</div >

{% endblock %}
