{% extends "base.html" %}
{% block body %}

<div class="container">
    <h1>Register</h1>
</div>

<div class="jumbotron">

        <form class='form-horizontal' method="post">

        {{ form.csrf_token }}

        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.soeid.errors %}
                    <ul class='errors'> 
                        {% for error in form.soeid.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.soeid(class='form-control',placeholder='soeid') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.password.errors %}
                    <ul class='errors'> 
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.password(class='form-control',placeholder='password') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.name.errors %}
                    <ul class='errors'> 
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.name(class='form-control',placeholder='name') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.title.errors %}
                    <ul class='errors'> 
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.title(class='form-control',placeholder='title') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.team.errors %}
                    <ul class='errors'> 
                        {% for error in form.team.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.team(class='form-control',placeholder='team') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {{ form.submit(class='btn btn-primary btn-block') }}
            </div>
        </div>
        </form>
</div >

{% endblock %}
