{% extends "base.html" %}
{% block body %}

{% if appointments != None %}
<div class="jumbotron">
	<h2>Pending</h2>
		 <div class="row">
		  <div class="col-sm-2"><b>Name</b></div>
		  <div class="col-sm-2"><b>Date</b></div>
		  <div class="col-sm-1"><b>Start Time</b></div>
		  <div class="col-sm-1"><b>End Time</b></div>
		  <div class="col-sm-3"><b>Location</b></div>
		  <div class="col-sm-2"><b>Status</b></div>
		 </div>		
		 <br>
	{% for appointment in appointments %}
	{% if appointment.status == "pending" %}
	 <div class="row">
	  <div class="col-sm-2">{{ appointment.name }}</div>
	  <div class="col-sm-2">{{ appointment.date }}</div>
	  <div class="col-sm-1">{{ appointment.starttime }}</div>
	  <div class="col-sm-1">{{ appointment.endtime }}</div>
	  <div class="col-sm-3">{{ appointment.location }}</div>
	  {% if appointment.userid1 != current_user.userid %}
	  <div class="col-sm-2"><a href="/appointment/accept?id={{ appointment.appointmentid }}">Accept</a>&nbsp; &nbsp;<a href="/appointment/decline?id={{ appointment.appointmentid }}">Decline</a></div>
	  {% else %}
	  <div class="col-sm-2">Awaiting reply</div>
	  {% endif %}
	 </div>
	 <div class="row">&nbsp;</div> 
	 {% endif %}
	{% endfor %}
</div>
{% endif %}

<div class="jumbotron">
	<h2>Accepted</h2>
		 <div class="row">
		  <div class="col-sm-2"><b>Name</b></div>
		  <div class="col-sm-2"><b>Date</b></div>
		  <div class="col-sm-1"><b>Start Time</b></div>
		  <div class="col-sm-1"><b>End Time</b></div>
		  <div class="col-sm-3"><b>Location</b></div>
		 </div>		
		 <br>
{% for appointment in appointments %}
{% if appointment.status == "accepted" %}
 <div class="row">
	  <div class="col-sm-2">{{ appointment.name }}</div>
	  <div class="col-sm-2">{{ appointment.date }}</div>
	  <div class="col-sm-1">{{ appointment.starttime }}</div>
	  <div class="col-sm-1">{{ appointment.endtime }}</div>
	  <div class="col-sm-3">{{ appointment.location }}</div>
 </div>
 <div class="row">&nbsp;</div> 
 {% endif %}
{% endfor %}
</div>
{% endblock %}
